<div class="card">
    <div class="card-header">
        {{ isEditMode ? "Edit Existing Property" : "Add New Property" }}
    </div>

    <div class="card-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Code</label>
                    <input class="form-control" formControlName="id" type="text" readonly />
                </div>

                <div class="mb-3 col-md-6">
                    <label class="form-label">Property Name</label>
                    <input type="text" formControlName="propertname" class="form-control" placeholder="propertname"
                    [ngClass]="{ 'is-valid': submitted && form1['propertname'].valid , 'is-invalid': submitted && form1['propertname'].invalid }">
    
                    <div *ngIf="submitted && form1['propertname'].invalid" class="invalid-feedback">
                        Please enter propertname.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="inputState" (click)="uploadtype(statictypeModal)" class="form-label text-blue">Type</label>
                    <select id="inputState" formControlName="type" class="form-select"
                    [ngClass]="{ 'is-valid': submitted && form1['type'].valid , 'is-invalid': submitted && form1['type'].invalid }">
                        <ng-container *ngIf="propregtype$ | async as data; else loadingSource">
                            <option *ngFor="let item of data" [value]="item.value">{{ item.textValue }}</option>
                        </ng-container>
                        
                        <ng-template #loadingSource>
                            <option>Loading...</option>
                        </ng-template>
                        
                    </select>
    
                    <div *ngIf="submitted && form1['type'].invalid" class="invalid-feedback">
                        Please select a type.
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label for="inputState" (click)="uploadtype(staticcityModal)" class="form-label text-blue">City</label>
                    <select id="inputState" formControlName="city" class="form-select"
                        [ngClass]="{ 'is-valid': submitted && form1['city'].valid , 'is-invalid': submitted && form1['city'].invalid }">
                        <ng-container *ngIf="citytype$ | async as data; else loadingSource">
                            <option *ngFor="let item of data" [value]="item.value">{{ item.textValue }}</option>
                        </ng-container>
                        
                        <ng-template #loadingSource>
                            <option>Loading...</option>
                        </ng-template>
                        
                    </select>
    
                    <div *ngIf="submitted && form1['city'].invalid" class="invalid-feedback">
                        Please select a city.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="inputState" (click)="uploadtype(staticCategoryModal)" class="form-label text-blue">Category</label>
                    <select id="inputState" formControlName="category" class="form-select"
                    [ngClass]="{ 'is-valid': submitted && form1['category'].valid , 'is-invalid': submitted && form1['category'].invalid }">
                        <ng-container *ngIf="propcattype$ | async as data; else loadingSource">
                            <option *ngFor="let item of data" [value]="item.value">{{ item.textValue }}</option>
                        </ng-container>
                        
                        <ng-template #loadingSource>
                            <option>Loading...</option>
                        </ng-template>
                        
                    </select>
    
                    <div *ngIf="submitted && form1['category'].invalid" class="invalid-feedback">
                        Please select a category.
                    </div>
                </div>
                
                <div class="mb-3 col-md-6">
                    <label for="inputState" (click)="uploadtype(staticsubcatModal)" class="form-label text-blue">Sub Category</label>
                    <select id="inputState" formControlName="subcategory" class="form-select"
                    [ngClass]="{ 'is-valid': submitted && form1['subcategory'].valid , 'is-invalid': submitted && form1['subcategory'].invalid }">
                        <ng-container *ngIf="propsubcat$ | async as data; else loadingSource">
                            <option *ngFor="let item of data" [value]="item.value">{{ item.textValue }}</option>
                        </ng-container>
                        
                        <ng-template #loadingSource>
                            <option>Loading...</option>
                        </ng-template>
                        
                    </select>
    
                    <div *ngIf="submitted && form1['subcategory'].invalid" class="invalid-feedback">
                        Please select a subcategory.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Nationality</label>
                    <input type="text" formControlName="nationality" class="form-control" placeholder="nationality"
                    [ngClass]="{ 'is-valid': submitted && form1['nationality'].valid , 'is-invalid': submitted && form1['nationality'].invalid }">
    
                    <div *ngIf="submitted && form1['nationality'].invalid" class="invalid-feedback">
                        Please enter nationality.
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label class="form-label">Geo Location</label>
                    <input type="text" formControlName="geolocation" class="form-control" placeholder="geolocation"
                    [ngClass]="{ 'is-valid': submitted && form1['geolocation'].valid , 'is-invalid': submitted && form1['geolocation'].invalid }">
    
                    <div *ngIf="submitted && form1['geolocation'].invalid" class="invalid-feedback">
                        Please enter Geo location.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Address</label>
                    <textarea class="form-control"
                        [ngClass]="{'is-valid': submitted && form1['address'].valid , 'is-invalid': submitted && form1['address'].invalid }"
                        formControlName="address" rows="4" placeholder="Enter address here"></textarea>    
                    <div *ngIf="submitted && form1['address'].invalid" class="invalid-feedback">
                        Please enter address.
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label class="form-label">Rules and Regulations</label>
                    <textarea class="form-control"
                    [ngClass]="{ 'is-valid': submitted && form1['rulesregulations'].valid , 'is-invalid': submitted && form1['rulesregulations'].invalid }"
                        formControlName="rulesregulations" placeholder="enter rules and regulations" rows="4"></textarea>  
                    <div *ngIf="submitted && form1['rulesregulations'].invalid" class="invalid-feedback">
                        Please enter rules and regulations.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Cost Anually</label>
                    <input type="text" formControlName="costanually" class="form-control" placeholder="costanually"
                    [ngClass]="{ 'is-valid': submitted && form1['costanually'].valid , 'is-invalid': submitted && form1['costanually'].invalid }">
    
                    <div *ngIf="submitted && form1['costanually'].invalid" class="invalid-feedback">
                        Please enter cost anually.
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label class="form-label">Other Cost Anually</label>
                    <input type="text" formControlName="othercost" class="form-control" placeholder="other costs"
                    [ngClass]="{ 'is-valid': submitted && form1['othercost'].valid , 'is-invalid': submitted && form1['othercost'].invalid }">
    
                    <div *ngIf="submitted && form1['othercost'].invalid" class="invalid-feedback">
                        Please enter other cost anually.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Vender</label>
                    <select id="inputState" formControlName="vender" class="form-select"
                        [ngClass]="{ 'is-valid': submitted && form1['vender'].valid , 'is-invalid': submitted && form1['vender'].invalid }">
                        <ng-container *ngIf="vendertype$ | async as data; else loadingSource">
                            <option *ngFor="let item of data" [value]="item.value">{{ item.textValue }}</option>
                        </ng-container>
                        
                        <ng-template #loadingSource>
                            <option>Loading...</option>
                        </ng-template>
                        
                    </select>
                    <div *ngIf="submitted && form1['vender'].invalid" class="invalid-feedback">
                        Please enter vender.
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label class="form-label">Contact Type</label>
                    <input type="text" formControlName="contacttype" class="form-control" placeholder="contacttype"
                    [ngClass]="{ 'is-valid': submitted && form1['contacttype'].valid , 'is-invalid': submitted && form1['contacttype'].invalid }">
    
                    <div *ngIf="submitted && form1['contacttype'].invalid" class="invalid-feedback">
                        Please enter contact type.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Selling Rate</label>
                    <input type="text" formControlName="sellingprice" class="form-control" placeholder="sellingprice"
                    [ngClass]="{ 'is-valid': submitted && form1['sellingprice'].valid , 'is-invalid': submitted && form1['sellingprice'].invalid }">
    
                    <div *ngIf="submitted && form1['sellingprice'].invalid" class="invalid-feedback">
                        Please enter selling price.
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label class="form-label">Min Selling Rate</label>
                    <input type="text" formControlName="minsellingprice" class="form-control" placeholder="minsellingprice"
                    [ngClass]="{ 'is-valid': submitted && form1['minsellingprice'].valid , 'is-invalid': submitted && form1['minsellingprice'].invalid }">
    
                    <div *ngIf="submitted && form1['minsellingprice'].invalid" class="invalid-feedback">
                        Please enter minimum selling price.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Anual Cost for Buyer</label>
                    <input type="text" formControlName="anualcostforbuyer" class="form-control" placeholder="annual cost for buyer"
                    [ngClass]="{ 'is-valid': submitted && form1['anualcostforbuyer'].valid , 'is-invalid': submitted && form1['anualcostforbuyer'].invalid }">
    
                    <div *ngIf="submitted && form1['anualcostforbuyer'].invalid" class="invalid-feedback">
                        Please enter annual cost for buyer.
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label class="form-label">Deposit</label>
                    <input type="text" formControlName="deposit" class="form-control" placeholder="deposit"
                    [ngClass]="{ 'is-valid': submitted && form1['deposit'].valid , 'is-invalid': submitted && form1['deposit'].invalid }">
    
                    <div *ngIf="submitted && form1['deposit'].invalid" class="invalid-feedback">
                        Please enter deposit amount.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-4"style="margin-top: 10px;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" #status
                            (change)="updateCheckboxValue('status', status.checked)" formControlName="status" />
                        <label class="form-check-label">Status</label>
                    </div>
                </div>
                <div class="mb-3 col-md-2"></div>
                <div class="mb-3 col-md-4" style="margin-top: 10px;">
                    <div class="form-check">
                        <input
                            [ngClass]="{'is-invalid': form.get('socialmedia')?.invalid && (form.get('socialmedia')?.dirty || form.get('socialmedia')?.touched)}"
                            class="form-check-input" type="checkbox" #socialmedia
                            (change)="updateCheckboxValue('socialmedia', socialmedia.checked)"
                            formControlName="socialmedia" />
                        <label class="form-check-label">SocialMedia Visibility</label>
                    </div>
                </div>
                <div class="mb-3 col-md-2"></div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-2">
                    <label class="form-label">Main Images</label>
                </div>
                <div class="mb-3 col-md-2">
                    <input type="file" id="userLogo" formControlName="mainImg" #userLogo
                            (change)="onFileChange($event)" />
                    <div *ngIf="submitted && form1['mainImg'].invalid" class="invalid-feedback">
                        Please add main image.
                    </div>
                </div>
                <div class="mb-3 col-md-2">
                    <img [src]="imageUrl" width="100" height="100" alt="Logo Preview" class="preview-image"
                        *ngIf="imageUrl" />
                </div>
                
                <div class="mb-3 col-md-2">
                    <label class="form-label">Other Images</label>
                </div>

                <div class="mb-3 col-md-2">
                    <input type="file" id="userLogo" formControlName="Otherimg" #userLogoOther
                    (change)="onFileChangeMulti($event)" multiple />
    
                    <div *ngIf="submitted && form1['Otherimg'].invalid" class="invalid-feedback">
                        Please add Other images.
                    </div>
                </div>
                
                <div class="mb-3 col-md-2">
                    <div *ngFor="let image of otherImages">
                        <img [src]="image.url" width="100" height="100" alt="Image Preview"
                        class="preview-image" />
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="mb-3 col-md-6">
                    <label class="form-label">Date of Purchase or Rent</label>
                    <input type="date" formControlName="dateofpurchorrent" class="form-control" placeholder="dateofpurchorrent"
                    [ngClass]="{ 'is-valid': submitted && form1['dateofpurchorrent'].valid , 'is-invalid': submitted && form1['dateofpurchorrent'].invalid }">
    
                    <div *ngIf="submitted && form1['dateofpurchorrent'].invalid" class="invalid-feedback">
                        Please enter dateofpurchorrent.
                    </div>
                </div>




                <!-- <div class="col-sm-4">
                    <div class="input-group mb-3">
                        <input type="date"
                            [ngClass]="{'is-invalid': form.get('dateofpurchorrent')?.invalid && (form.get('dateofpurchorrent')?.dirty || form.get('dateofpurchorrent')?.touched)}"
                            class="form-control" formControlName="dateofpurchorrent">
                        <button class="input-group-text increase" style="background-color: #5f8286; color: white;"
                            [dateTimeControls]="form" [controlName]="'dateofpurchorrent'">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="input-group-text decrease" style="background-color: #5f8286; color: white;"
                            [dateTimeControls]="form" [controlName]="'dateofpurchorrent'">
                            <i class="fa fa-minus"></i>
                        </button>
                        <div *ngIf="form?.get('dateofpurchorrent')?.hasError('required') && form?.get('dateofpurchorrent')?.touched"
                            class="text-danger">
                            Date of purchase or rent is required.
                        </div>
                    </div>
                </div> -->

                <div class="mb-3 col-md-6">
                    <label class="form-label">Renew Date</label>
                    <input type="date" formControlName="renewdate" class="form-control" placeholder="renew date"
                    [ngClass]="{ 'is-valid': submitted && form1['renewdate'].valid , 'is-invalid': submitted && form1['renewdate'].invalid }">
    
                    <div *ngIf="submitted && form1['renewdate'].invalid" class="invalid-feedback">
                        Please enter renew date.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Vender Payment Date</label>
                    <input type="date" formControlName="venderpaymentdate" class="form-control" placeholder="Vender Payment Date"
                    [ngClass]="{ 'is-valid': submitted && form1['venderpaymentdate'].valid , 'is-invalid': submitted && form1['venderpaymentdate'].invalid }">
    
                    <div *ngIf="submitted && form1['venderpaymentdate'].invalid" class="invalid-feedback">
                        Please enter Vender Payment Date.
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label class="form-label">Payment Schedule No</label>
                    <input type="text" formControlName="paymentscheduleno" class="form-control" placeholder="Payment Schedule No"
                    [ngClass]="{ 'is-valid': submitted && form1['paymentscheduleno'].valid , 'is-invalid': submitted && form1['paymentscheduleno'].invalid }">
    
                    <div *ngIf="submitted && form1['paymentscheduleno'].invalid" class="invalid-feedback">
                        Please enter Payment Schedule No.
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<ng-template #statictypeModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">New Property type</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="dynamicform">
            <div class="mb-3 col-md-12">
                <label class="form-label">Property type Name</label>
                <input type="text" formControlName="catergoryName" class="form-control" placeholder="Enter new Property type"
                [ngClass]="{ 'is-valid': submitted2 && form1['catergoryName'].valid , 'is-invalid': submitted2 && form1['catergoryName'].invalid }">
    
                <div *ngIf="submitted2 && form1['catergoryName'].hasError('required')" class="invalid-feedback">
                    Please enter Property type name.
                </div>
            </div>
    
            <div class="mb-3 col-md-12">
                <label class="form-label">Remark</label>
                <input type="text" formControlName="remark" class="form-control" placeholder="Enter a remark"
                [ngClass]="{ 'is-valid': submitted2 && form1['remark'].valid , 'is-invalid': submitted2 && form1['remark'].invalid }">
    
                <div *ngIf="submitted2 && form1['remark'].hasError('required')" class="invalid-feedback">
                    Please enter a remark.
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button type="button" (click)="addNewDesignation()" class="btn btn-primary">Insert</button>
    </div>

    <ng-template #nowUploading>
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status"></div>
        </div>
    </ng-template>

</ng-template>

<ng-template #staticCategoryModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">New Category</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="dynamicform">
            <div class="mb-3 col-md-12">
                <label class="form-label">Category Name</label>
                <input type="text" formControlName="catergoryName" class="form-control" placeholder="Enter new Category"
                [ngClass]="{ 'is-valid': submitted2 && form1['catergoryName'].valid , 'is-invalid': submitted2 && form1['catergoryName'].invalid }">
    
                <div *ngIf="submitted2 && form1['catergoryName'].hasError('required')" class="invalid-feedback">
                    Please enter Category name.
                </div>
            </div>
    
            <div class="mb-3 col-md-12">
                <label class="form-label">Remark</label>
                <input type="text" formControlName="remark" class="form-control" placeholder="Enter a remark"
                [ngClass]="{ 'is-valid': submitted2 && form1['remark'].valid , 'is-invalid': submitted2 && form1['remark'].invalid }">
    
                <div *ngIf="submitted2 && form1['remark'].hasError('required')" class="invalid-feedback">
                    Please enter a remark.
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button type="button" (click)="addNewDesignation()" class="btn btn-primary">Insert</button>
    </div>

    <ng-template #nowUploading>
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status"></div>
        </div>
    </ng-template>

</ng-template>

<ng-template #staticsubcatModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">New Sub Category</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="dynamicform">
            <div class="mb-3 col-md-12">
                <label class="form-label">Sub Category Name</label>
                <input type="text" formControlName="catergoryName" class="form-control" placeholder="Enter new Sub Category"
                [ngClass]="{ 'is-valid': submitted2 && form1['catergoryName'].valid , 'is-invalid': submitted2 && form1['catergoryName'].invalid }">
    
                <div *ngIf="submitted2 && form1['catergoryName'].hasError('required')" class="invalid-feedback">
                    Please enter Sub Category name.
                </div>
            </div>
    
            <div class="mb-3 col-md-12">
                <label class="form-label">Remark</label>
                <input type="text" formControlName="remark" class="form-control" placeholder="Enter a remark"
                [ngClass]="{ 'is-valid': submitted2 && form1['remark'].valid , 'is-invalid': submitted2 && form1['remark'].invalid }">
    
                <div *ngIf="submitted2 && form1['remark'].hasError('required')" class="invalid-feedback">
                    Please enter a remark.
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button type="button" (click)="addNewDesignation()" class="btn btn-primary">Insert</button>
    </div>

    <ng-template #nowUploading>
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status"></div>
        </div>
    </ng-template>

</ng-template>

<ng-template #staticcityModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">New City</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="dynamicform">
            <div class="mb-3 col-md-12">
                <label class="form-label">City Name</label>
                <input type="text" formControlName="catergoryName" class="form-control" placeholder="Enter new City"
                [ngClass]="{ 'is-valid': submitted2 && form1['catergoryName'].valid , 'is-invalid': submitted2 && form1['catergoryName'].invalid }">
    
                <div *ngIf="submitted2 && form1['catergoryName'].hasError('required')" class="invalid-feedback">
                    Please enter City name.
                </div>
            </div>
    
            <div class="mb-3 col-md-12">
                <label class="form-label">Remark</label>
                <input type="text" formControlName="remark" class="form-control" placeholder="Enter a remark"
                [ngClass]="{ 'is-valid': submitted2 && form1['remark'].valid , 'is-invalid': submitted2 && form1['remark'].invalid }">
    
                <div *ngIf="submitted2 && form1['remark'].hasError('required')" class="invalid-feedback">
                    Please enter a remark.
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button type="button" (click)="addNewDesignation()" class="btn btn-primary">Insert</button>
    </div>

    <ng-template #nowUploading>
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status"></div>
        </div>
    </ng-template>

</ng-template>






