<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-4">
				<div class="info-box">
					<button type="button" class="btn btn-block btn-flat"
						style="background-color: #5f8286; color: white;" (click)="navigate()">
						<i class="fas fa-plus"> </i> &nbsp; Add Notification
					</button>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4">
				<div class="info-box">
					<div class="info-box-content">
						<span class="info-box-text text-center">NOTIFICATION DATA TABLE</span>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4">
				<div class="info-box">
					<button class="btn btn-block smaller-btn w-100" style="background-color: #5f8286; color: white;"
						(click)="printData()">
						Print
					</button>
				</div>
			</div>
		</div>

		<div id="data_table_wrapper" class="dataTables_wrapper dt-bootstrap4">
			<div class="row">
				<div class="col-sm-12 table-responsive">
					<table id="example1" class="table table-bordered table-striped dataTable dtr-inline"
						aria-describedby="data_table_info">
						<thead>
							<tr>
								<th></th>

								<th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
									Id
								</th>
								<th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
									Notify
								</th>
								<th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
									Date
								</th>
								<th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
									Time
								</th>
								<th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
									Message
								</th>
								<th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
									Priority
								</th>
								<th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
									Add By
								</th>
								<th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
									Add On
								</th>
								<th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
									Forward To
								</th>
								<th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
									Snooze On
								</th>
								<th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
									From
								</th>

								<th></th>

								<th></th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngIf="notificationinfo$ | async as iou; else loadingTemplate">
								<tr *ngFor="let item of iou.result;">
									<td class="direct-chat-img-container">
										<img src="assets/h.png" alt="" class="direct-chat-img" />
									</td>
									<td>
										{{ item.Id }}
									</td>
									<td>{{ item.Name }}</td>
									<td>{{ item.Date | date: 'MM-dd-yyyy' }}</td>
									<td>{{ item.Time}}</td>
									<td>{{ item.Message}}</td>
									<td>{{ item.prority}}</td>
									<td>{{ item.AddBy }}</td>
									<td>{{ item.AddOn | date: 'MM-dd-yyyy'}}</td>
									<td>{{ item.ForwardTo }}</td>
									<td>{{ item.SnoozeOn | date: 'MM-dd-yyyy'}}</td>
									<td>{{ item.From}}</td>
									<td>
										<button class="btn btn-block smaller-btn"
											style="background-color: #5f8286; color: white;"
											(click)="navigatenew(item)">
											Edit
										</button>
									</td>
									<td>
										<button class="btn btn-block smaller-btn"
											style="background-color: #5f8286; color: white;"
											(click)="printCellData(item.Id)">
											Print
										</button>
									</td>
								</tr>
							</ng-container>

							<ng-template #loadingTemplate>
								<ngx-spinner type="line-scale"></ngx-spinner>
							</ng-template>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>