<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box">
                    <button type="button" class="btn btn-block btn-info btn-flat" (click)="navigate()">
                        <i class="fas fa-plus"> </i> &nbsp; Add Lead Forwards
                    </button>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Leads</span>
                        <span class="info-box-number">
                            {{ (leadsForwardListInfo$ | async)?.result?.length }}

                            <small>Lead Forwards</small>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Disactive Leads Forwards</span>
                        <span class="info-box-number">
                            {{ activeCount }}
                            <small>Leads Forwards</small>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div id="data_table_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12 table-responsive">
                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline"
                        aria-describedby="data_table_info">
                        <thead>
                            <tr>
                                <th></th>

                                <th class="sorting sorting_asc" tabindex="0" aria-controls="data_table" rowspan="1"
                                    colspan="1" aria-sort="ascending">
                                    Id
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
                                    Date
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
                                    LeadId
                                </th>

                                <th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
                                    ForwardFrom
                                </th>

                                <th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
                                    ForwardTo
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
                                    Reason
                                </th>

                                <th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
                                    Addby
                                </th>

                                <th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
                                    Addon
                                </th>

                                <th class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container
                                *ngIf="leadsForwardListInfo$ | async as paymentScheduleData; else loadingTemplate">
                                <tr *ngFor="let grnH of paymentScheduleData.result; let i = index" #rowRef>
                                    <td class="direct-chat-img-container">
                                        <img src="assets/h.png" alt="" class="direct-chat-img" />
                                    </td>
                                    <td class="dtr-control sorting_1" tabindex="0">
                                        {{ grnH.Id }}
                                    </td>
                                    <td>{{ grnH.Date | date: "short" }}</td>
                                    <td>{{ grnH.LeadId }}</td>
                                    <td>{{ grnH.ForwardFrom }}</td>
                                    <td>{{ grnH.ForwardTo }}</td>
                                    <td>{{ grnH.Reason }}</td>
                                    <td>{{ grnH.AddBy }}</td>
                                    <td>{{ grnH.AddOn | date: "short" }}</td>
                                    <td>
                                        <button class="btn btn-info input-response smaller-btn"
                                            (click)="editLeadForward(grnH)">
                                            Edit
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>

                            <ng-template #loadingTemplate>
                                <ngx-spinner type="line-scale"></ngx-spinner>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>