.make-center {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}

.make-center {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
}